# Titanic Dataset - Exploratory Data Analysis

**Internship Task 5 â€“ Data Analyst Role**

**Objective:** Extract insights using visual and statistical exploration.

Dataset: [Titanic - train.csv](https://www.kaggle.com/c/titanic/data?select=train.csv)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(style='whitegrid')

In [5]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.info()

In [ ]:
df.describe()

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Univariate Analysis

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

df['Survived'].value_counts().plot(kind='bar', title='Survival Count')

In [ ]:
sns.histplot(df['Age'].dropna(), kde=True, bins=30)
plt.title('Age Distribution')

In [ ]:
sns.countplot(data=df, x='Pclass')
plt.title('Passenger Class Distribution')

In [ ]:
sns.countplot(data=df, x='Sex')
plt.title('Gender Distribution')

## Bivariate Analysis

In [ ]:
sns.countplot(data=df, x='Sex', hue='Survived')
plt.title('Survival by Gender')

In [ ]:
sns.countplot(data=df, x='Pclass', hue='Survived')
plt.title('Survival by Passenger Class')

In [ ]:
sns.boxplot(data=df, x='Survived', y='Age')
plt.title('Age vs Survival')

## Correlation Analysis

In [ ]:
plt.figure(figsize=(10, 6))
sns.heatmap(df.corr(), annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')

In [ ]:
sns.pairplot(df[['Survived', 'Pclass', 'Age', 'Fare']], hue='Survived')

## Observations
- More passengers in **Pclass 1** survived compared to classes 2 and 3.
- **Females** had a much higher survival rate than males.
- Younger passengers tended to have a slightly higher chance of survival.
- Strong negative correlation between `Pclass` and `Survived`.
- `Fare` and `Pclass` are also correlated.

## Summary
This EDA provided insights into survival patterns on the Titanic. Key findings include:
- Gender and class were significant factors in survival.
- Age and fare had moderate influence.
- Visuals like heatmaps and boxplots helped highlight relationships and distributions.

This analysis prepares the ground for predictive modeling and deeper feature engineering.